<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>

  {% endif %}
    {% comment %}<div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{% block title %}Log In{% endblock title %}</div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="post">
{#                            {{ form.as_p }}#}
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a href="{% url 'password_reset' %}" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>{% endcomment %}
  <div class="login-form">
    <div class="container">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
    </div>
  </div>
{% endblock %}