<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy example_form %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div>
        <h2>Change Password</h2>
        <form method="post">
            <div class="col-sm-4">
            {{ form | crispy }} <br>
                <p><input type="submit" value="Save Changes"></p>
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
            </div>
        </form>
    </div>
{% endblock content %}
</html>